@import "tailwindcss";

@theme {
  --color-primary: #CC1F1F;
  --color-background-light: #f8f6f6;
  --color-background-dark: #1a1a1a;
  --color-graphite: #333333;
  --color-graphite-light: #444444;
  --font-sans: "Public Sans", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-background-light);
  color: var(--color-graphite);
}

.custom-scrollbar::-webkit-scrollbar { width: 6px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #e5e7eb; border-radius: 10px; }
.custom-scrollbar::-webkit-scrollbar-thumb:hover { background: #CC1F1F; }
